/* цвет абзацев текста #757575
цвет вторичных заголовков текста #212121
цвет заголовков текста #FFFFFF;
цвет акцента #2196F3;
фон основной #FFFFFF
фон вторичный #F5F4FA
*/

:root {
  --main-text-color: #757575;
  --title-text-color: #ffffff;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h2,
h3 {
  color: var(--secondary-text-color);
}
/* ----------стилизация шапки сайта----------- */
.navigation a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link {
  letter-spacing: 0.02em;
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* ---логотип--- */
.navigation .logo a {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.contacts {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* ------------стилизация Героя------------ */
.hero {
  text-align: center;
  letter-spacing: 0.06em;
}

.main-title {
  color: var(--title-text-color);
  background: #757575;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  outline: 2px solid red;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--title-text-color);
  background-color: var(--accent-color);

  text-decoration: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
}

/* -------стилизация блока Преимущества Студии--------*/

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* -------стилизация блока Чем мы занимаемся--------*/
.examples h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.examples h3 {
  color: var(--title-text-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* ---------стилизацтя блока Сотрудники------------ */
.staff {
  background-color: #f5f4fa;
}

.staff h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.staff h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.staff p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.networks a {
  color: var(--main-text-color);
  text-decoration: none;
}

.networks a:hover,
.networks a:focus {
  color: var(--accent-color);
}

/* ----------стилизация блока Постоянные клиенты---------- */
.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.customer a:hover,
.customer a:focus {
  color: var(--accent-color);
}

/* -----------стилизация блока Футер---------------- */
.footer {
  color: var(--title-text-color);
  background-color: #2f303a;
  font-style: normal;
}

.footer .logo {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-size: 26px;
}

.footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .networks {
  color: var(--title-text-color);
  text-decoration: none;
}

.footer .networks:hover,
.footer .networks:focus {
  color: var(--accent-color);
}

/* -----------------------стилизация страницы Портфолио------------------------------ */
.portfolio a {
  text-decoration: none;
}

.portfolio-button {
  color: var(--secondary-text-color);
  background-color: v#F5F4FA;
  text-decoration: none;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.gallery h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery p {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.gallery .text {
  color: var(--title-text-color);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
